# https://help.github.com/en/actions

# https://github.com/actions
# https://github.com/actions/checkout
# https://github.com/actions/setup-node

# No Arm Linux tests yet.

# https://nodejs.org/en/download/releases/

name: Node.js CI on Push

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore:
      - 'docs/**'
      - 'README*'

jobs:
  npm-test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # nvm ls-remote --lts
        node-version: [^12.22.x, ^14.19.x, ^16.14.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Show node & npm versions, environment
        run: |
          node --version
          npm --version
          env
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
